autoflake
black
brotlipy
fixtures
flake8
folium
gdal
gendocs
mapclassify
matplotlib
mkdocs
munkres
pathlib
pip-chill
pyarrow
pyopenssl
pysocks
pytest
rtree
scikit-learn
typing
unicodedata2
xyzservices
