autoflake==2.0.0
black==22.10.0
brotlipy==0.7.0
fixtures==4.0.1
flake8==6.0.0
folium==0.13.0
gdal==3.5.3
gendocs==0.4.0
geopandas==0.12.1
mapclassify==2.4.3
matplotlib==3.6.2
mkdocs==1.4.2
munkres==1.1.4
myst-nb==0.17.1
pathlib==1.0.1
pip-chill==1.0.1
pyarrow==10.0.1
pyopenssl==22.1.0
pysocks==1.7.1
pytest==7.2.0
rtree==1.0.1
sklearn==0.0.post1
sphinx-autoapi==2.0.0
sphinx-rtd-theme==1.1.1
sphinxcontrib-napoleon==0.7
typing==3.7.4.3
unicodedata2==15.0.0
xyzservices==2022.9.0
